<app-spinner [isReady]="!isReady"></app-spinner>
@if(isReady){
<ion-content>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>
  <ion-list [inset]="true" class="calendar">
    <ion-datetime
      [firstDayOfWeek]="1"
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange($event)"
      presentation="date"
      [highlightedDates]="highlightedDates"
      multiple="true"
      [locale]="lang"
    >
    </ion-datetime>
    @if(selectedDate){ @if(selectedDate.length>0){
    <ion-button fill="outline" shape="round" (click)="reset()">
      <ion-icon name="close-outline"></ion-icon>
      {{ "RESET" | translate }}
    </ion-button>
    }}
  </ion-list>
  <app-spinner [isReady]="!isReadyRefresh"></app-spinner>
  @if(isReadyRefresh){@if(selectedDate){ @if(selectedDate.length>0){ @for (item
  of meetingsSelected; track $index) {
  <app-meeting-content
    [meeting]="item"
    component="calendar"
  ></app-meeting-content>
  } }@else { @for (item of meetings; track $index) {
  <app-meeting-content
    [meeting]="item"
    component="calendar"
  ></app-meeting-content>
  } }}}
</ion-content>
}
