<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text color="dark">
    <ion-header class="headerInfo">Usuń swoje konto</ion-header>
    <ion-text class="padding">
      Jeśli zastanawiasz się nad usunięciem swojego konta, pamiętaj, że jest to
      decyzja trwała. Zanim podejmiesz tę decyzję, przeczytaj dokładnie kroki i
      konsekwencje.
    </ion-text>
    <ion-header class="headerInfo">
      Ważne uwagi przed złożeniem prośby o usunięcie konta
    </ion-header>
    <ion-label class="padding">
      Prosimy pamiętać, że usunięcie konta jest trwałe i nieodwracalne. Postępuj
      zgodnie z instrukcjami, aby usunąć swoje konto, tylko jeśli jesteś
      pewien/a, że chcesz to zrobić.
    </ion-label>
    <ion-header class="headerInfo">Usuwanie konta użytkownika</ion-header>
    <ion-text class="padding">
      Użytkownicy mogą samodzielnie zainicjować proces usunięcia konta, prosząc
      o to nasz zespół obsługi klienta.
    </ion-text>
    <ion-text class="padding">
      <p>
        Aby poprosić o usunięcie konta, kliknij poniższy przycisk, aby otworzyć
        czat z naszym zespołem obsługi klienta. Prosimy zauważyć, że Twoje konto
        zostanie usunięte w ciągu 30 dni.
      </p>
    </ion-text>
    <ion-text class="padding">
      <app-gadu-gadu [message]="'Send a report' | translate"></app-gadu-gadu
    ></ion-text>
    <ion-text class="padding">
      <p>
        Możesz również skontaktować się z nami mailowo pod adresem:
        jakub.drozd&#64;proman.com.pl
      </p>
    </ion-text>
  </ion-text>
</ion-content>
