<ion-header>
  <ion-toolbar>
    <ion-title>{{ nameGroup }} </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        text=""
        icon="arrow-back-outline"
        [routerLink]="['/groups']"
      >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  @if(isReady){ @if(permission){
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="custom-fab">
        <ion-button size="small" [routerLink]="['add-meeting']">
          {{ "Add meeting" | translate }}
        </ion-button>
        <ion-fab-button
          size="small"
          expand="block"
          [routerLink]="['add-meeting']"
        >
          <ion-icon size="large" name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="custom-fab">
        <ion-button size="small" [routerLink]="['add-user']">
          {{ "Add person" | translate }}
        </ion-button>
        <ion-fab-button size="small" expand="block" [routerLink]="['add-user']">
          <ion-icon size="large" name="person-add-outline"></ion-icon>
        </ion-fab-button>
      </div>
      @if(userService.loggedUser.IS_ADMIN){
      <div class="custom-fab">
        <ion-button size="small" [routerLink]="['add-organizer']">
          {{ "Settings" | translate }}
        </ion-button>
        <ion-fab-button
          size="small"
          expand="block"
          [routerLink]="['add-organizer']"
        >
          <ion-icon size="large" name="settings-outline"></ion-icon>
        </ion-fab-button>
      </div>
      }
    </ion-fab-list>
  </ion-fab>
  }}

  <ion-segment
    [(ngModel)]="selectedSegment"
    (ngModelChange)="onSegmentChange(selectedSegment)"
    swipeGesture="true"
  >
    <ion-segment-button vertical="top" value="meetings">
      <ion-label>{{ "Meetings" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button vertical="top" value="members">
      <ion-label>{{ "Members" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button vertical="top" value="ranking">
      <ion-label>{{ "Ranking" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>

  <app-spinner [isReady]="!isReady"></app-spinner>

  <swiper-container
    #swiperContainer
    (swiperslidechange)="swiperSlideChange()"
    appSwiper
  >
    <swiper-slide>
      @if(isReady){ @if(meetings.length>0){ @for (item of meetings; track
      $index) {
      <app-meeting-content
        [meeting]="item"
        component="group-content"
      ></app-meeting-content>
      } } @else {
      <ion-item class="header" lines="none">
        {{ "No upcoming meetings" | translate }}
      </ion-item>
      } }
    </swiper-slide>
    <swiper-slide>
      @if(isReady){ @if(groupsUsers.length>0){
      <ion-list>
        @for (item of groupsUsers; track $index) {
        <app-groups-user-list
          [user]="item"
          [counter]="$index"
        ></app-groups-user-list>
        }
      </ion-list>
      }@else{
      <ion-item class="header" lines="none">
        {{ "No members" | translate }}
      </ion-item>
      }}
    </swiper-slide>
    <swiper-slide>
      <ion-item class="header" lines="none">
        {{ "No ranking" | translate }}
      </ion-item>
    </swiper-slide>
  </swiper-container>
</ion-content>
