ion-spinner {
  width: 100px;
  height: 100px;
}
ion-fab-button:active {
  --background: var(--ion-color-tertiary);
  transform: scale(0.9);
}
ion-back-button:active {
  --background: var(--ion-color-tertiary);
  transform: scale(0.9);
}
.title {
  --border-color: var(--ion-color-secondary);
}
ion-segment-button {
  --color-checked: var(--ion-color-secondary);
}
.header {
  padding: 5px;
  height: 70vh;
}
