<ion-header>
  <ion-toolbar>
    <ion-title>{{ nameGroup }} </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        text=""
        icon="arrow-back-outline"
        defaultHref="/logged/groups"
      >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if(userService.loggedUser && groupUser){ @if(userService.loggedUser.IS_ADMIN ||
groupUser.AccountType){
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button expand="block" (click)="openModalAddMeeting()">
      <ion-icon size="large" name="chatbubbles-outline"> </ion-icon>
    </ion-fab-button>
    <ion-fab-button expand="block" (click)="openModalAddUser()">
      <ion-icon size="large" name="person-add-outline"> </ion-icon>
    </ion-fab-button>
    @if(userService.loggedUser.IS_ADMIN){
    <ion-fab-button expand="block" (click)="openModalAddOrganizer()">
      <ion-icon
        size="large"
        name="settings-outline"
      ></ion-icon> </ion-fab-button
    >}
  </ion-fab-list>
</ion-fab>
} }

<ion-segment
  [(ngModel)]="selectedSegment"
  (ngModelChange)="onSegmentChange(selectedSegment)"
  swipeGesture="true"
>
  <ion-segment-button vertical="top" value="meetings">
    <ion-label>Spotkania</ion-label>
  </ion-segment-button>
  <ion-segment-button vertical="top" value="members">
    <ion-label>Członkowie</ion-label>
  </ion-segment-button>
  <ion-segment-button vertical="top" value="ranking">
    <ion-label>Ranking</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if(!isReady){
  <div style="text-align: center">
    <ion-spinner color="primary" name="crescent"> </ion-spinner>
  </div>
  }
  <swiper-container
    #swiperContainer
    (swiperslidechange)="swiperSlideChange()"
    appSwiper
  >
    <swiper-slide>
      @if(isReady){ @if(meetings.length>0){ @for (item of meetings; track
      $index) {
      <ion-list>
        <app-meeting-content [meeting]="item"></app-meeting-content>
      </ion-list>
      } } @else {
      <ion-item class="header" lines="none"
        >Brak nadchodzących spotkań
      </ion-item>
      } }
    </swiper-slide>
    <swiper-slide>
      @if(isReady){ @if(groupsUsers.length>0){
      <ion-list>
        @for (item of groupsUsers; track $index) {
        <app-groups-user-list [user]="item"></app-groups-user-list>
        }
      </ion-list>
      }@else{
      <ion-item class="header" lines="none">Brak członków</ion-item>
      }}
    </swiper-slide>
    <swiper-slide>
      <ion-item class="header" lines="none">Brak rankingu</ion-item>
    </swiper-slide>
  </swiper-container>
</ion-content>
