<ion-header>
  <ion-toolbar>
    <ion-title>{{nameGroup}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="/logged/groups">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button expand="block" (click)="openModalAddMeeting()">
      <ion-icon size="large" name="chatbubbles-outline">
      </ion-icon>
    </ion-fab-button>
    <ion-fab-button expand="block" (click)="openModalAddUser()">
      <ion-icon size="large" name="person-add-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

@if(!isReady){
<div style="text-align: center;">
  <ion-spinner color="primary" name="crescent">
  </ion-spinner>
</div>
}

<ion-segment [(ngModel)]="selectedSegment" swipeGesture="true">
  <ion-segment-button vertical="top" value="meetings">
    <ion-label>Spotkania</ion-label>
  </ion-segment-button>
  <ion-segment-button vertical="top" value="members">
    <ion-label>Członkowie</ion-label>
  </ion-segment-button>
  <ion-segment-button vertical="top" value="ranking">
    <ion-label>Ranking</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">

  @if(isReady){
  @switch (selectedSegment) {
  @case ("meetings") {
  <ion-list [inset]="true">
    <ion-label> Spotkania:
    </ion-label>
    @for (item of meetings; track $index) {
    <app-meeting-content [meeting]="item"></app-meeting-content>
    }
  </ion-list>
  }
  @case ("members") {
  <ion-list [inset]="true">
    <ion-label>
      Członkowie:
    </ion-label>
    @for (item of groupsUsers; track $index) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{item.Login}}
        </ion-card-title>
        <ion-card-subtitle>
          {{item.Firstname}} {{item.Surname}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @if(item.PhoneNumber!=null){
        <ion-card-title>
          {{item.PhoneNumber.toString().slice(0,3)}}-{{item.PhoneNumber.toString().slice(3,6)}}-{{item.PhoneNumber.toString().slice(6)}}
        </ion-card-title>
        }
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
  }
  }
  }
</ion-content>