.title {
  --border-color: var(--ion-color-secondary);
}
.button {
  --border-color: var(--ion-color-secondary);
}
.counter {
  --border-color: var(--ion-color-secondary);
}
ion-card-header {
  width: 100%;
  text-align: center;
}
.button:active {
  transform: scale(0.97);
  filter: brightness(120%);
}
ion-datetime-button {
  margin: 20px;
}
