<ion-content class="ion-padding">
  @if(!isReady){
  <div style="text-align: center">
    <ion-spinner color="primary" name="crescent"> </ion-spinner>
  </div>
  } @if(isReady){
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          maxlength="25"
          [errorText]="'Login is too short' | translate"
          formControlName="login"
          labelPlacement="floating"
          [label]="'Login' | translate"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Incorrect email format' | translate"
          formControlName="email"
          inputmode="email"
          labelPlacement="floating"
          [label]="'Email' | translate"
          type="email"
          placeholder="email@domain.com"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          maxlength="25"
          [errorText]="'Password is too short' | translate"
          formControlName="password"
          labelPlacement="floating"
          [label]="'Password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Passwords do not match' | translate"
          formControlName="confirmPassword"
          labelPlacement="floating"
          [label]="'Repeat password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'First name cannot have digits' | translate"
          formControlName="firstname"
          labelPlacement="floating"
          [label]="'First name' | translate"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Last name cannot have digits' | translate"
          formControlName="surname"
          labelPlacement="floating"
          [label]="'Last name' | translate"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Number is too short' | translate"
          formControlName="phoneNumber"
          labelPlacement="floating"
          [label]="'Phone number ' | translate"
          placeholder="xxx-xxx-xxx"
          [maskito]="phoneMask"
          [maskitoElement]="maskPredicate"
          type="tel"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full">
      {{ "Register" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
