<ion-content class="ion-padding">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input maxlength="25" errorText="Login jest za krótki" formControlName="login" labelPlacement="floating"
          label="Login">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Zły format maila" formControlName="email" inputmode="email" labelPlacement="floating"
          label="Email" type="email" placeholder="email@domain.com">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input maxlength="25" errorText="Hasło jest za krótkie" formControlName="password" labelPlacement="floating"
          label="Hasło" type="password">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Hasło nie jest takie samo" formControlName="confirmPassword" labelPlacement="floating"
          label="Powtórz hasło" type="password">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Imię nie może mieć cyfr" formControlName="firstName" labelPlacement="floating"
          label="Imię">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Nazwisko nie może mieć cyfr" formControlName="lastName" labelPlacement="floating"
          label="Nazwisko">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Numer jest za krótki" formControlName="phoneNumber" labelPlacement="floating"
          label="Numer telefonu" placeholder="+48 xxx-xxx-xxx" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          type="tel">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full">Zarejestruj
    </ion-button>
  </form>
</ion-content>