<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      routerLink="/home"
      tab="home"
      class="ion-activatable ripple-parent"
    >
      <ion-icon size="large" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      routerLink="/notification"
      tab="notification"
      class="ion-activatable ripple-parent"
    >
      <ion-icon size="large" name="notifications-outline"></ion-icon>
      @if(receivedData>0){
      <ion-badge>{{ receivedData }} </ion-badge>
      }
    </ion-tab-button>
    <ion-tab-button
      routerLink="/groups"
      tab="groups"
      class="ion-activatable ripple-parent"
    >
      <ion-icon size="large" name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      routerLink="/calendar"
      tab="calendar"
      class="ion-activatable ripple-parent"
    >
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      routerLink="/account"
      tab="account"
      class="ion-activatable ripple-parent"
    >
      <ion-icon size="large" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
