@if(!isReady){
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <div style="display: flex">
        <div style="text-align: left; width: 100%">
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-label>
        </div>
        <div style="text-align: right; width: 100%">
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text
          ></ion-label>
        </div>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label>
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </ion-label>
    <div style="display: flex">
      <div style="text-align: left; width: 100%">
        <ion-chip>
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-label>
        </ion-chip>
      </div>
      <div class="people">
        <ion-label color="dark" class="label">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>
} @if(isReady){
<ion-card
  [routerLink]="['/meeting', meeting.IdMeeting]"
  class="click"
  [ngStyle]="{ opacity: !isCurrent ? '0.5' : '1' }"
>
  <ion-card-header>
    <ion-card-title>
      <div style="display: flex">
        <div style="text-align: left; width: 100%">
          <ion-label>
            {{ meeting.Place }}
          </ion-label>
        </div>
        <div style="text-align: right; width: 100%">
          <ion-label> {{ meeting.Name }}</ion-label>
        </div>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label>
      {{ meeting.DateMeeting | date : "dd.MM.yyyy HH:mm" }}
    </ion-label>
    <div style="display: flex">
      <div style="text-align: left; width: 100%">
        <ion-chip>
          @if(user.AVATAR == null){
          <ion-avatar>
            <img
              alt="img"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          } @else {
          <ion-avatar>
            <img alt="img" [src]="images" />
          </ion-avatar>
          }
          <ion-label> {{ user.FIRSTNAME }} {{ user.SURNAME }} </ion-label>
        </ion-chip>
      </div>
      <div class="people">
        <ion-label color="dark" class="label">
          {{ acceptMeeting }} / {{ meeting.Quantity }}
        </ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>
}
