@if(!isReady){
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <div style="display: flex">
        <div style="text-align: left; width: 100%">
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-label>
        </div>
        <div style="text-align: right; width: 100%">
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text
          ></ion-label>
        </div>
      </div>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label>
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </ion-label>
    <div style="display: flex">
      <div style="text-align: left; width: 100%">
        <ion-chip>
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-label>
        </ion-chip>
      </div>
      <div class="people">
        <ion-label color="dark" class="label">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%"
          ></ion-skeleton-text>
        </ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>
} @if(isReady){
<ion-card
  [routerLink]="['meeting', meeting.IdMeeting]"
  class="click"
  [ngStyle]="{ opacity: !isCurrent ? '0.5' : '1' }"
>
  <ion-card-header>
    <ion-label class="title-menu">
      {{ meeting.Name }}
    </ion-label>
    <div style="display: flex">
      <div class="text-edit" style="text-align: left; width: 100%">
        <ion-label style="font-size: 14px; display: flex">
          <ion-icon
            style="font-size: 20px"
            color="secondary"
            name="location-outline"
          >
          </ion-icon>
          {{ meeting.Place }}
        </ion-label>
      </div>
      <div class="text-edit" style="text-align: right; width: 11rem">
        <ion-label style="font-size: 14px">
          {{ meeting.DateMeeting | date : "dd.MM.yyyy HH:mm" }}
        </ion-label>
      </div>
    </div>
  </ion-card-header>
  <div class="border"></div>
  <ion-card-content>
    <div style="display: flex">
      <div style="text-align: left; width: 100%">
        <ion-chip>
          @if(user.AVATAR == null){
          <ion-avatar>
            <img
              alt="img"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          } @else {
          <ion-avatar>
            <img alt="img" [src]="images" />
          </ion-avatar>
          }
          <div
            style="
              display: flex;
              flex-direction: column-reverse;
              align-items: center;
            "
          >
            <ion-label style="font-size: 13px"
              >{{ user.FIRSTNAME }} {{ user.SURNAME }}
            </ion-label>
          </div>
        </ion-chip>
      </div>
      <div class="people">
        <ion-label class="text-edit" color="dark" class="label">
          <ion-icon
            style="padding-right: 10px; font-size: 20px"
            color="secondary"
            name="people-outline"
          ></ion-icon>
          {{ acceptMeeting }} / {{ meeting.Quantity }}
        </ion-label>
      </div>
    </div>
  </ion-card-content>
</ion-card>
}
