<div class="helper-container">
  @if(!isContact){
  <ion-card
    style="
      display: flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    "
  >
    <ion-item lines="none" style="--background: var(--ion-card-background)">
      <ion-chip style="display: flex; width: 50%">
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-chip>
      <ion-chip style="display: flex; width: 50%">
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text>
      </ion-chip>
    </ion-item>
  </ion-card>

  } @if(isContact){
  <div style="font-size: larger; margin: 20px">
    {{ "Add a friend from your contacts" | translate }}
  </div>
  @if(contacts.length>0){ @for(contact of contacts; track $index){
  @if(contact.phones){ @if(contact.phones[0].number){
  <ion-card
    style="
      display: flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
    "
  >
    <ion-item lines="none" style="--background: var(--ion-card-background)">
      <ion-checkbox
        justify="space-between"
        [value]="contact.phones[0].number"
        (ionChange)="changeContact($event)"
      >
        <ion-chip style="display: flex">
          {{ contact.name?.display }}
        </ion-chip>
        <ion-chip style="display: flex">
          {{ contact.phones[0].number }}
        </ion-chip>
      </ion-checkbox>
    </ion-item>
  </ion-card>
  }} } } @if(!isNumber) {
  <div style="font-size: medium; margin: 20px; padding-top: 20vh">
    {{ "There are no contacts to send an invitation to" | translate }}
  </div>
  }
  <div
    style="
      display: flex;
      margin: 20px;
      align-items: center;
      justify-content: center;
    "
  >
    @if(isNumber) {
    <ion-button expand="full" (click)="sendInvites()" shape="round">
      <ion-label color="success">
        <ion-icon size="large" name="checkmark-outline"></ion-icon>
      </ion-label>
    </ion-button>
    }
    <ion-button expand="full" (click)="cancel()" shape="round">
      <ion-label color="danger">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-label>
    </ion-button>
  </div>
  }
</div>
