<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="profilePasswordForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input maxlength="25" errorText="Hasło jest za krótkie" formControlName="password" labelPlacement="floating"
          label="Hasło" type="password">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Hasło nie jest takie samo" formControlName="confirmPassword" labelPlacement="floating"
          label="Powtórz hasło" type="password">
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">
        Zapisz
      </ion-button>
    </ion-list>
  </form>
</ion-content>