<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        {{ "Cancel" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="profilePasswordForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          maxlength="25"
          [errorText]="'Password is too short' | translate"
          formControlName="password"
          labelPlacement="floating"
          [label]="'Password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Passwords do not match' | translate"
          formControlName="confirmPassword"
          labelPlacement="floating"
          [label]="'Repeat password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">
        {{ "Save" | translate }}
      </ion-button>
    </ion-list>
  </form>
  }
</ion-content>
