<app-spinner [isReady]="!isReadyNewUser"></app-spinner>
@if(isReadyNewUser){
<form [formGroup]="addNewUserForm" (ngSubmit)="onSubmitNew()">
  <div class="padding">
    <ion-text>
      {{ "Invite a new user using email" | translate }}
    </ion-text>
  </div>
  <ion-item lines="none" class="padding">
    <ion-input
      class="border"
      [errorText]="'Incorrect email format' | translate"
      formControlName="email"
      inputmode="email"
      labelPlacement="floating"
      [label]="'Email' | translate"
      type="email"
      placeholder="email@domain.com"
    >
    </ion-input>
  </ion-item>
    <div class="padding">
    <ion-text>
      {{ "or phone number" | translate }}
    </ion-text>
  </div>
  <ion-item lines="none" class="padding">
    <ion-input
      class="border"
      [errorText]="'Number is too short' | translate"
      formControlName="phoneNumber"
      labelPlacement="floating"
      [label]="'Phone number' | translate"
      placeholder="xxx-xxx-xxx"
      [maskito]="phoneMask"
      [maskitoElement]="maskPredicate"
      type="tel"
    >
    </ion-input>
  </ion-item>

  <ion-button type="submit" shape="round" expand="full" class="padding">
    {{ "Add" | translate }}
  </ion-button>
</form>

}
