.name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}
ion-card {
  padding: 5px;
}
.click:active {
  transform: scale(0.9);
  filter: brightness(150%);
}
.click {
  padding: 5px;
}
ion-modal {
  padding-bottom: 20vh;
  padding-top: 20vh;
  padding-right: 5vh;
  padding-left: 5vh;
  background: rgba(0, 0, 0, 0.7);
}
.modal-content {
  margin: 20px;
  margin-top: 40px;
}
