<ion-header>
  <ion-toolbar>
    <ion-label class="tab">
      {{ "Reset your password" | translate }}
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady && !isExpired){
  <form
    [formGroup]="profilePasswordForm"
    (ngSubmit)="onSubmit()"
    style="padding-top: 15%"
  >
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          style="padding: 5%"
          class="border"
          maxlength="25"
          [errorText]="'Password is too short' | translate"
          formControlName="password"
          labelPlacement="floating"
          [label]="'Password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          style="padding: 5%"
          class="border"
          [errorText]="'Passwords do not match' | translate"
          formControlName="confirmPassword"
          labelPlacement="floating"
          [label]="'Repeat password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-button style="padding: 5%" type="submit" expand="full">
        {{ "Save" | translate }}
      </ion-button>
    </ion-list>
  </form>
  }@else if(isExpired){
  <div style="padding-top: 15%; text-align: center">
    <ion-label class="text">
      {{ "The password reset link has expired" | translate }}
    </ion-label>
    <ion-button shape="round" style="padding-top: 10%" (click)="cancel()">
      {{ "Back to login" | translate }}
    </ion-button>
  </div>
  }
</ion-content>
