<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form
    [formGroup]="messageForm"
    (ngSubmit)="onSubmitWait()"
    style="padding: 10%"
  >
    <ion-datetime-button datetime="datetime" style="padding: 10%">
    </ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          [firstDayOfWeek]="1"
          [min]="displayDate"
          [max]="maxDate"
          id="datetime"
          formControlName="dateMeeting"
          [showDefaultButtons]="true"
          [doneText]="'Done' | translate"
          [cancelText]="'Cancel' | translate"
          [locale]="lang"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-button shape="round" type="submit" expand="full" style="padding: 10%">
      {{ "Wait" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
