<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        {{ "Cancel" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          [errorText]="'Group name is required' | translate"
          [label]="'Group name' | translate"
          labelPlacement="floating"
          formControlName="name"
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          helperText=" "
          [errorText]="'User is null' | translate"
          [label]="'Organizer' | translate"
          labelPlacement="floating"
          formControlName="organizer"
          (ngModelChange)="handleInput()"
          (ionBlur)="removeFocus()"
          type="text"
        >
        </ion-input>
      </ion-item>
      @for(user of results; track $index){
      <ion-item label-placement="fixed" lines="full" (click)="add(user)">
        {{ user.FIRSTNAME }} {{ user.SURNAME }}
      </ion-item>
      }
    </ion-list>
    <ion-button type="submit" expand="full">
      {{ "Add a group" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
