<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-spinner [isReady]="!isReady"></app-spinner>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>
  @if(isReady && user){
  <ion-list>
    <ion-avatar class="avatar">
      <input
        type="file"
        id="fileInput"
        style="display: none"
        accept=".jpeg, .jpg, .png, .gif"
        (change)="onFileSelected($event)"
      />
      @if(temp){
      <img
        [src]="temp"
        alt="Przycisk"
        (click)="openFileInput()"
        style="cursor: pointer"
      />
      }@else{
      <img
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        alt="Przycisk"
        (click)="openFileInput()"
        style="cursor: pointer"
      />
      }
      <ion-icon
        (click)="openFileInput()"
        size="large"
        class="icon-avatar"
        name="brush-outline"
      ></ion-icon>
    </ion-avatar>
    <ion-card>
      <ion-card-content>
        <ion-label>{{ "FIRSTNAME & LASTNAME" | translate }}</ion-label>
        <ion-item
          [routerLink]="['name']"
          lines="full"
          class="title"
          button
          detail="true"
        >
          <ion-label>{{ user.FIRSTNAME }} {{ user.SURNAME }}</ion-label>
          <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-label>{{ "E-MAIL" | translate }}</ion-label>
        <ion-item
          [routerLink]="['mail']"
          lines="full"
          class="title"
          button
          detail="true"
        >
          <ion-label>{{ user.EMAIL }}</ion-label>
          <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-label>{{ "PHONE NUMBER" | translate }}</ion-label>
        <ion-item
          [routerLink]="['phone']"
          lines="full"
          class="title"
          button
          detail="true"
        >
          @if(user.PHONE_NUMBER){
          <ion-label>
            {{ user.PHONE_NUMBER.toString().slice(0, 3) }}
            {{ user.PHONE_NUMBER.toString().slice(3, 6) }}
            {{ user.PHONE_NUMBER.toString().slice(6) }}
          </ion-label>
          }
          <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-label>{{ "LOGIN" | translate }}</ion-label>
        <ion-item
          [routerLink]="['login']"
          lines="full"
          class="title"
          button
          detail="true"
        >
          <ion-label>{{ user.LOGIN }}</ion-label>
          <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  }
</ion-content>
