ion-button:active {
  --background: var(--ion-color-tertiary);
  transition: 0.2s ease-in-out;
  transform: scale(0.97);
}
ion-item {
  --border-color: var(--ion-color-tertiary);
}
ion-input {
  --border-color: var(--ion-color-tertiary);
}
