<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal-add-existing-user" expand="block">Dodaj istniejącego użytkownika</ion-button>
  <ion-button id="open-modal-add-new-user" expand="block">Dodaj nowego użytkowanika</ion-button>
</ion-content>

<ion-modal #modal trigger="open-modal-add-existing-user">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Anuluj</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="addExistingUserForm" (ngSubmit)="onSubmitExisting()">
        <ion-list [inset]="true">
          <ion-label>Zaproś istniejącego użytkownika</ion-label>
          <ion-item lines="none">
            <ion-input helperText=" " label="Imię i nazwisko" labelPlacement="floating" formControlName="user"
              (ngModelChange)="handleInput()" (ionBlur)="removeFocus()">
            </ion-input>
          </ion-item>
          @for(user of results; track $index){
          <ion-item lines="none" (click)="add(user)">
            {{user.FIRSTNAME}} {{user.SURNAME}}
          </ion-item>
          }
          <ion-button type="submit" expand="full">Dodaj
          </ion-button>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>



<ion-modal #modal trigger="open-modal-add-new-user">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Anuluj</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="addNewUserForm" (ngSubmit)="onSubmitNew()">
        <ion-list [inset]="true">
          <ion-label>Zaproś nowego użytkowanika za pomocą emaila lub numeru telefonu</ion-label>
          <ion-item lines="none">
            <ion-input errorText="Numer jest za krótki" formControlName="phoneNumber" labelPlacement="floating"
              label="Numer telefonu" placeholder="xxx-xxx-xxx" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
              type="tel">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input errorText="Zły format maila" formControlName="email" inputmode="email" labelPlacement="floating"
              label="Email" type="email" placeholder="email@domain.com">
            </ion-input>
          </ion-item>
          <ion-button type="submit" expand="full">Dodaj
          </ion-button>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>