@if(!isReady){
<ion-card>
  <ion-grid>
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%"
        ></ion-skeleton-text
      ></ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col>
        <ion-card-header> {{ "PLACE" | translate }}: </ion-card-header>
      </ion-col>
      <ion-col>
        <ion-item class="title" lines="full">
          <ion-card-header>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-header>
          {{ "NUMBER OF PEOPLE" | translate }}:
        </ion-card-header>
      </ion-col>
      <ion-col>
        <ion-item class="title" lines="full">
          <ion-card-header>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    @if(message.Description){
    <ion-row>
      <ion-col>
        <ion-item class="title" lines="full">
          <ion-card-header>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%"
            ></ion-skeleton-text>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-card>
} @if(isReady){
<ion-card>
  <ion-grid>
    <ion-card-header>
      <ion-card-title>{{
        message.DateMeeting | date : "dd.MM.yyyy HH:mm"
      }}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col>
        <ion-card-header> {{ "PLACE" | translate }}: </ion-card-header>
      </ion-col>
      <ion-col>
        <ion-item class="title" lines="full">
          <ion-card-header>
            {{ message.Place }}
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-header>
          {{ "NUMBER OF PEOPLE" | translate }}:
        </ion-card-header>
      </ion-col>
      <ion-col>
        <ion-item
          class="title"
          lines="full"
          class="button"
          lines="full"
          button
          [id]="'open-modal-check-participants' + message.IdMeeting"
        >
          <ion-card-header>
            {{ acceptMeeting }} / {{ message.Quantity }}
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    @if(message.Description){
    <ion-row>
      <ion-col>
        <ion-item class="title" lines="full">
          <ion-card-header>
            {{ message.Description }}
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
    }
    <ion-row>
      <ion-col>
        <ion-item class="button" lines="full" (click)="onSubmit('yes')" button>
          <ion-card-header>
            <ion-label color="success">
              {{ "I WILL COME" | translate }}
            </ion-label>
          </ion-card-header>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="button" lines="full" (click)="onSubmit('no')" button>
          <ion-card-header>
            <ion-label color="danger">
              {{ "I WON'T COME" | translate }}
            </ion-label>
          </ion-card-header>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="button" lines="full">
          <ion-card-header>
            <ion-label color="warning" (click)="openModalAddWaitingTime()">
              {{ "GIVE ME TIME" | translate }}
            </ion-label>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-modal
  #modal
  [trigger]="'open-modal-check-participants' + message.IdMeeting"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">{{ "Cancel" | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      @for(item of messages; track $index){
      <app-meeting-user-list [user]="item"></app-meeting-user-list>
      }
    </ion-content>
  </ng-template>
</ion-modal>

}
