<app-spinner [isReady]="!isReady"></app-spinner>
@if(isReady){
<ion-content>
  <ion-avatar class="avatar">
    <input
      type="file"
      id="fileInput"
      style="display: none"
      accept=".jpeg, .jpg, .png, .gif"
      (change)="onFileSelected($event)"
    />
    @if(temp){
    <img
      [src]="temp"
      alt="Przycisk"
      (click)="openFileInput()"
      style="cursor: pointer"
    />
    }@else{
    <img
      src="https://ionicframework.com/docs/img/demos/avatar.svg"
      alt="Przycisk"
      (click)="openFileInput()"
      style="cursor: pointer"
    />
    }
  </ion-avatar>
</ion-content>
}
