<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-label>Data spotkania</ion-label>
        <ion-datetime-button datetime="datetime">
        </ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime min="{{displayDate}}" max="2124-10-31" id="datetime"
            formControlName="dateMeeting"></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-item lines="none">
        <ion-input helperText=" " label="Miejsce" labelPlacement="floating" formControlName="place" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input helperText=" " label="Ilość osób" labelPlacement="floating" formControlName="quantity" type="number">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea helperText=" " label="Opis" labelPlacement="floating" formControlName="description" type="text">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full">Dodaj
    </ion-button>
  </form>
</ion-content>