<app-spinner [isReady]="!isReady"></app-spinner>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        {{ "Cancel" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if(isReady){
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    @switch (inputEdit) { @case ("mail") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Incorrect email format' | translate"
          formControlName="email"
          inputmode="email"
          labelPlacement="floating"
          [label]="'Email' | translate"
          type="email"
          placeholder="email@domain.com"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    } @case ("phone") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Number is too short' | translate"
          formControlName="phoneNumber"
          labelPlacement="floating"
          [label]="'Phone number ' | translate"
          placeholder="xxx-xxx-xxx"
          [maskito]="phoneMask"
          [maskitoElement]="maskPredicate"
          type="tel"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    } @case ("login") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          maxlength="25"
          class="border"
          [errorText]="'Login is too short' | translate"
          formControlName="login"
          labelPlacement="floating"
          [label]="'Login' | translate"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    } @case ("name") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'First name cannot have digits' | translate"
          formControlName="firstname"
          labelPlacement="floating"
          [label]="'First name' | translate"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Last name cannot have digits' | translate"
          formControlName="surname"
          labelPlacement="floating"
          [label]="'Last name' | translate"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    } }
    <ion-button type="submit" expand="full">
      {{ "Save" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
