@if(!isReady){
<div style="text-align: center;">
  <ion-spinner color="primary" name="crescent">
  </ion-spinner>
</div>
}
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Anuluj</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if(isReady){
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    @switch (inputEdit) {
    @case ("mail") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input errorText="Zły format maila" formControlName="email" inputmode="email" labelPlacement="floating"
          label="Email" type="email" placeholder="email@domain.com">
        </ion-input>
      </ion-item>
    </ion-list>
    }
    @case ("phone") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input errorText="Numer jest za krótki" formControlName="phoneNumber" labelPlacement="floating"
          label="Numer telefonu" placeholder="xxx-xxx-xxx" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          type="tel">
        </ion-input>
      </ion-item>
    </ion-list>
    }
    @case ("login") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input maxlength="25" errorText="Login jest za krótki" formControlName="login" labelPlacement="floating"
          label="Login">
        </ion-input>
      </ion-item>
    </ion-list>
    }
    @case ("name") {
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input errorText="Imię nie może mieć cyfr" formControlName="firstname" labelPlacement="floating"
          label="Imię">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input errorText="Nazwisko nie może mieć cyfr" formControlName="surname" labelPlacement="floating"
          label="Nazwisko">
        </ion-input>
      </ion-item>
    </ion-list>
    }
    }
    <ion-button type="submit" expand="full">
      Zapisz
    </ion-button>
  </form>
  }
</ion-content>