ion-modal {
  padding-bottom: 20vh;
  padding-top: 20vh;
  padding-right: 5vh;
  padding-left: 5vh;
  background: rgba(0, 0, 0, 0.7);
}
ion-text {
  font-size: x-large;
}
.modal-content {
  margin: 20px;
  margin-top: 40px;
}