<ion-item
  lines="full"
  class="title"
  button
  detail="true"
  [id]="'open-modal' + counter"
>
  <ion-icon
    size="large"
    slot="end"
    name="shirt"
    [style.color]="color"
  ></ion-icon>
  <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
  <ion-label>{{ name }}</ion-label>
</ion-item>

<ion-content>
  <ion-modal [trigger]="'open-modal' + counter" (willDismiss)="onWillDismiss()">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-text> {{ "Modify team" | translate }}</ion-text>
        <div class="modal-content">
          <ion-item>
            <ion-input
              [label]="'Name' | translate"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="name"
              maxlength="30"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [label]="'Color' | translate"
              labelPlacement="stacked"
              type="text"
              [(ngModel)]="color"
              (change)="setColor(color)"
              [value]="color"
              maxlength="7"
            ></ion-input>
            <ion-button [disabled]="disabled" (click)="getPicker()">
              <ion-icon name="brush-outline"> </ion-icon>
            </ion-button>
            <ion-icon
              size="large"
              slot="end"
              name="shirt"
              [style.color]="color"
            ></ion-icon>
          </ion-item>
          <div
            style="padding-top: 10px; width: 100%"
            [id]="'picker' + counter"
          ></div>
        </div>
        <ion-button expand="full" (click)="dismiss()" shape="round"
          >Ok</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
