@if(!isReady){
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="full" class="title">
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </ion-item>
  </ion-card-content>
</ion-card>
} @if(isReady){
<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ user.Login }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="full" class="title">
      @if(user.Avatar == null){
      <ion-avatar slot="start">
        <img
          alt="img"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      } @else {
      <ion-avatar slot="start">
        <img alt="img" [src]="images" />
      </ion-avatar>
      }
      <ion-label> {{ user.Firstname }} {{ user.Surname }} </ion-label>
      @if(user.PhoneNumber!=null){
      {{ user.PhoneNumber.toString().slice(0, 3) }}-{{
        user.PhoneNumber.toString().slice(3, 6)
      }}-{{ user.PhoneNumber.toString().slice(6) }}
      }
    </ion-item>
  </ion-card-content>
</ion-card>
}
