<ion-content class="ion-padding">
  @if(!isReady){
  <div style="text-align: center">
    <ion-spinner color="primary" name="crescent"> </ion-spinner>
  </div>
  } @if(isReady){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          [errorText]="'Login is required' | translate"
          [label]="'Login' | translate"
          labelPlacement="floating"
          formControlName="login"
          placeholder="Enter login"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Password is required' | translate"
          [label]="'Password' | translate"
          labelPlacement="floating"
          formControlName="password"
          type="password"
          placeholder="Enter password"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full">
      {{ "Log in" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
