<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          [errorText]="'Login is required' | translate"
          [label]="'Login' | translate"
          labelPlacement="floating"
          formControlName="login"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [errorText]="'Password is required' | translate"
          [label]="'Password' | translate"
          labelPlacement="floating"
          formControlName="password"
          type="password"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="full">
      {{ "Log in" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
