<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Group name is required' | translate"
          [label]="'Group name' | translate"
          labelPlacement="floating"
          formControlName="name"
          type="text"
        ></ion-input>
      </ion-item>
      @if(userService.loggedUser.IS_ADMIN){
      <ion-item lines="none">
        <ion-input
          class="border"
          helperText=" "
          [errorText]="'User is null' | translate"
          [label]="'Organizer' | translate"
          labelPlacement="floating"
          formControlName="organizer"
          (ngModelChange)="handleInput()"
          (ionBlur)="removeFocus()"
          type="text"
        >
        </ion-input>
      </ion-item>
      }
      <ion-item lines="none">
        <ion-textarea
          class="border"
          helperText=" "
          [label]="'Description' | translate"
          labelPlacement="floating"
          formControlName="description"
          type="text"
          maxlength="300"
        >
        </ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox
          labelPlacement="end"
          justify="start"
          formControlName="isModerated"
        >
          <div class="ion-text-wrap">
            {{
              "Allow all users to create meetings themselves and inviting new participants"
                | translate
            }}
          </div>
        </ion-checkbox>
      </ion-item>

      @for(user of results; track $index){
      <ion-item label-placement="fixed" lines="full" (click)="add(user)">
        {{ user.FIRSTNAME }} {{ user.SURNAME }}
      </ion-item>
      }
    </ion-list>
    <ion-button shape="round" type="submit" expand="full">
      {{ "Add a group" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
