<app-spinner [isReady]="!isReady"></app-spinner>
@if (isReady) {
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-header>
          {{ "Invitation to the group" | translate }} {{ invite.Name }}
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-header>
          {{ "Sent by" | translate }} {{ invite.Firstname }}
          {{ invite.Surname }}
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="button" lines="full" (click)="onSubmit('yes')" button>
          <ion-card-header>
            <ion-label color="success">{{ "ACCEPT" | translate }}</ion-label>
          </ion-card-header>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="button" lines="full" (click)="onSubmit('no')" button>
          <ion-card-header>
            <ion-label color="danger">{{ "REJECT" | translate }}</ion-label>
          </ion-card-header>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
}