<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        {{ "Cancel" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="profilePasswordForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item lines="none" style="padding-bottom: 20px">
        <ion-input
          class="border"
          maxlength="25"
          [errorText]="'Password is required' | translate"
          formControlName="passwordOld"
          labelPlacement="floating"
          [label]="'Old password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          class="border"
          maxlength="25"
          [errorText]="'Password is too short' | translate"
          formControlName="passwordNew"
          labelPlacement="floating"
          [label]="'New password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Passwords do not match' | translate"
          formControlName="confirmPassword"
          labelPlacement="floating"
          [label]="'Repeat new password' | translate"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-button style="padding-top: 10%" type="submit" expand="full">
        {{ "Save" | translate }}
      </ion-button>
    </ion-list>
  </form>
  }
</ion-content>
