<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"> {{ "Cancel" | translate }} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-users [idGroup]="idGroup"></app-users>

  <app-spinner [isReady]="!isReady"></app-spinner>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>
  @if(isReady && invites.length>0){
  <div class="titleInv">
    {{ "Invitations sent" | translate }}
  </div>
  <ion-card>
    <div class="colTitle">
      <div class="colLeft">
        <div class="text">
          {{ "Email" | translate }}
        </div>
        <div class="text">
          {{ "Phone number" | translate }}
        </div>
      </div>
      <div class="colRight">
        <div class="text">
          {{ "Date sent" | translate }}
        </div>
      </div>
    </div>
  </ion-card>

  @for(invite of invites; track $index){
  <ion-card>
    <div class="row">
      <div class="colLeft">
        <div style="display: flex">
          <ion-chip> {{ invite.Email }} </ion-chip>
        </div>
        @if(invite.PhoneNumber){
        <div style="display: flex">
          <ion-chip>
            {{ invite.PhoneNumber.toString().slice(0, 3) }}
            {{ invite.PhoneNumber.toString().slice(3, 6) }}
            {{ invite.PhoneNumber.toString().slice(6) }}
          </ion-chip>
        </div>
        }
      </div>
      <div class="colRight">
        <ion-chip>
          {{ invite.DateAdd | date : "dd.MM.yyyy HH:mm:ss" }}
        </ion-chip>
      </div>
    </div>
  </ion-card>
  } }
</ion-content>
