<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"> {{ "Cancel" | translate }} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-users [idGroup]="idGroup"></app-users>

  <app-spinner [isReady]="!isReady"></app-spinner>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>

  @if(isReady && invites.length>0){
  <ion-text style="margin: 20px; font-size: x-large">
    {{ "Invitations sent" | translate }}
  </ion-text>
  <ion-card>
    <div style="display: flex">
      <ion-card-header>
        {{ "Email" | translate }}
      </ion-card-header>

      <ion-card-header>{{ "Date sent" | translate }}</ion-card-header>
    </div>
    @for(invite of invites; track $index){
    <div
      style="
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
      "
    >
      <div style="display: flex">
        <ion-chip> {{ invite.Email }} </ion-chip>
      </div>
      <div style="display: flex">
        <ion-chip>
          {{ invite.DateAdd | date : "dd.MM.yyyy HH:mm:ss" }}
        </ion-chip>
      </div>
    </div>
    }
  </ion-card>
  }
</ion-content>
