<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"> {{ "Back" | translate }} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  JaBall to aplikacja mobilna, stworzona z myślą o pasjonatach sportu, którzy
  chcą łatwo organizować spotkania sportowe ze znajomymi. Aplikacja umożliwia
  tworzenie, planowanie i zarządzanie spotkaniami sportowymi w prosty i
  efektywny sposób.
  <ol>
    Główne funkcje aplikacji JaBall obejmują:
    <li>
      <b>Tworzenie grup:</b> Użytkownicy mogą tworzyć własne grupy sportowe,
      nadając im nazwę, aby określić ich cel lub tematykę.
    </li>
    <li>
      <b>Tworzenie wydarzeń:</b> Użytkownicy mogą łatwo tworzyć nowe wydarzenia
      sportowe, miejsce, datę i czas spotkania. Mogą również ustalić limit
      uczestników oraz dodawać dodatkowe informacje, takie jak zasady gry,
      wyposażenie wymagane itp.
    </li>
    <li>
      <b>Powiadomienia o wydarzeniach:</b> Użytkownicy otrzymują powiadomienia o
      nadchodzących wydarzeniach, aby nie przegapić żadnej okazji do aktywności
      sportowej.
    </li>
    <li>
      <b>Potwierdzanie uczestnictwa:</b> Po otrzymaniu zaproszenia, użytkownicy
      mogą potwierdzić swoje uczestnictwo w danym wydarzeniu. Jest to ważne z
      punktu widzenia organizatora, który może monitorować liczbę uczestników i
      dostosowywać plany w zależności od tego, ile osób weźmie udział.
    </li>
  </ol>
  Dzięki aplikacji JaBall, organizacja spotkań sportowych staje się prostsza i
  bardziej efektywna, co zachęca użytkowników do aktywnego spędzania czasu na
  świeżym powietrzu oraz promuje zdrowy tryb życia.
</ion-content>
<div style="width: 100%; text-align: center">
  <ion-note>Proman Sp z o. o. </ion-note>
  <ion-note>{{ "Version" | translate }} alpha </ion-note>
</div>
