<ion-content>
  <app-spinner [isReady]="!isReady"></app-spinner>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>

  @if(isReady){ @if(meetingsActive.length > 0){ @for(meeting of meetingsActive;
  track $index){
  <app-meeting-content
    [meeting]="meeting"
    [isCurrent]="true"
  ></app-meeting-content>
  } } @if(rejectedActiveMeeting.length > 0){ @for(meeting of
  rejectedActiveMeeting; track $index){
  <app-meeting-content
    [meeting]="meeting"
    [isCurrent]="true"
  ></app-meeting-content>
  } } @if(meetingsExpired.length > 0){ @for(meeting of meetingsExpired; track
  $index){
  <app-meeting-content
    [meeting]="meeting"
    [isCurrent]="false"
  ></app-meeting-content>
  }
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  } @if(meetingsActive.length<=0&&meetingsExpired.length<=0){
  <ion-item style="padding: 5px" lines="none">
    {{ "You have no meetings today" | translate }}
  </ion-item>
  } } @if(!userService.loggedUser.IS_ADMIN && isOrganizer){
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button [routerLink]="['add-meeting']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } @if(userService.loggedUser.IS_ADMIN){
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="custom-fab">
        <ion-button size="small" [routerLink]="['add-meeting']">
          {{ "Add meeting" | translate }}
        </ion-button>
        <ion-fab-button
          size="small"
          expand="block"
          [routerLink]="['add-meeting']"
        >
          <ion-icon size="large" name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>
  </ion-fab>
  }
</ion-content>
