<ion-content>
  <div style="padding: 5%">
    <div style="padding: 2%">
      <ion-label style="font-size: x-large">
        {{ "Reset your password" | translate }}
      </ion-label>
    </div>
    <div style="padding: 2%; padding-bottom: 7%">
      <ion-label style="font-size: large">
        {{
          "Enter the email address to which the password reset link will be sent"
            | translate
        }}
      </ion-label>
    </div>
    <app-spinner [isReady]="!isReady"></app-spinner>
    @if(isReady){
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-input
          style="padding: 2%"
          class="border"
          [errorText]="'Incorrect email format' | translate"
          formControlName="email"
          inputmode="email"
          labelPlacement="floating"
          [label]="'Email' | translate"
          type="email"
          placeholder="email@domain.com"
        >
        </ion-input>
      </ion-item>
      <ion-button shape="round" type="submit" expand="full" style="padding: 5%">
        {{ "Send" | translate }}
      </ion-button>
    </form>
    }
  </div>
</ion-content>
