.click:active {
  transform: scale(0.9);
  filter: brightness(150%);
}
.click {
  padding: 5px;
}
div {
  width: auto;
  height: auto;
}
.icon {
  position: absolute;
  left: 34px;
  bottom: -8px;
  scale: 0.9;
}
.avatar{
  margin: 0 8px 0 0;
}
