<app-spinner [isReady]="!isReady"></app-spinner>
@if(isReady){
<ion-card>
  <ion-card-content>
    <ion-item [color]="color" lines="full" class="title">
      @if(user.Avatar == null){
      <ion-avatar slot="start">
        <img
          alt="img"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      } @else {
      <ion-avatar slot="start">
        <img alt="img" [src]="images" />
      </ion-avatar>
      }
      {{ counter + 1 }}.&nbsp; @if(user.IdUser!=null){
      <ion-label [routerLink]="['/account/profile', user.IdUser]" class="click">
        {{ user.Firstname }} {{ user.Surname }} </ion-label
      >}@else {
      <ion-label> {{ user.Firstname }} {{ user.Surname }} </ion-label>
      }
      <ion-label
        style="
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-start;
        "
      >
        @if(counter+1>(user.Quantity??0)&&user.Answer=='yes'){
        <ion-icon
          size="large"
          color="danger"
          name="alert-circle-outline"
        ></ion-icon>
        } @if(user.IdUser==userService.loggedUser.ID_USER){
        <ion-icon
          class="click"
          (click)="showAlert()"
          size="large"
          name="sync-circle-outline"
        ></ion-icon>
        }
        @if((userService.loggedUser.IS_ADMIN||userService.loggedUser.ID_USER==user.IdAuthor)
        && user.IdUser==null){
        <ion-icon
          class="click"
          color="danger"
          (click)="deleteGuest(user)"
          size="large"
          name="trash-outline"
        ></ion-icon>
        }
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
}
