@if(!isReady){
<div style="text-align: center">
  <ion-spinner color="primary" name="crescent"> </ion-spinner>
</div>
} @if(isReady){
<ion-content class="ion-padding">
  <ion-list [inset]="true">
    <ion-datetime
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange($event)"
      presentation="date"
      [highlightedDates]="highlightedDates"
      multiple="true"
    ></ion-datetime>
  </ion-list>
  @if(selectedDate == null){ @for (item of meetings; track $index) {
  <app-meeting-content [meeting]="item"></app-meeting-content>
  } }@else { @for (item of meetingsSelected; track $index) {
  <app-meeting-content [meeting]="item"></app-meeting-content>
  } }
</ion-content>
}
