<app-spinner [isReady]="!isReady"></app-spinner>
@if(isReady){
<ion-content class="ion-padding">
  <ion-list [inset]="true">
    <ion-datetime
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange($event)"
      presentation="date"
      [highlightedDates]="highlightedDates"
      multiple="true"
    >
    </ion-datetime>
    <div style="text-align: right">
      @if(selectedDate){ @if(selectedDate.length>0){
      <ion-button fill="outline" shape="round" (click)="reset()">
        <ion-icon name="close-outline"></ion-icon>
        {{ "RESET" | translate }}
      </ion-button>
      }}
    </div>
  </ion-list>
  <app-spinner [isReady]="!isReadyRefresh"></app-spinner>
  @if(isReadyRefresh){@if(selectedDate){ @if(selectedDate.length>0){ @for (item
  of meetingsSelected; track $index) {
  <app-meeting-content [meeting]="item"></app-meeting-content>
  } }@else { @for (item of meetings; track $index) {
  <app-meeting-content [meeting]="item"></app-meeting-content>
  } }}}
</ion-content>
}
