<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if(isReady){
    <div style="display: flex; flex-direction: row-reverse">
      @if(!isExpired){
      <ion-label class="click" (click)="showAlert()">
        <ion-icon [color]="color" slot="end" size="large" name="sync-outline">
        </ion-icon>
      </ion-label>
      } @if((userService.loggedUser.ID_USER==meeting.IdAuthor ||
      userService.loggedUser.IS_ADMIN) && currentDate < (meeting.DateMeeting??0)
      ){
      <ion-label class="click" [routerLink]="['edit']">
        <ion-icon slot="end" size="large" name="create-outline"></ion-icon>
      </ion-label>

      <ion-label class="click" (click)="openModalAddGuest()">
        <ion-icon slot="end" size="large" name="person-add-outline"></ion-icon>
      </ion-label>
      }
    </div>
    }
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-spinner [isReady]="!isReady"></app-spinner>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <app-spinner [isReady]="true"></app-spinner>
  </ion-refresher>
  @if(isReady){
  <ion-card>
    <ion-card-header>
      {{ meeting.Name }}
    </ion-card-header>
    <ion-card-content>
      <ion-chip>
        @if(user.AVATAR == null){
        <ion-avatar>
          <img
            alt="img"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        } @else {
        <ion-avatar>
          <img alt="img" [src]="image" />
        </ion-avatar>
        }
        <ion-label [routerLink]="['profile', user.ID_USER]" class="click">
          {{ user.FIRSTNAME }} {{ user.SURNAME }}
        </ion-label>
      </ion-chip>
    </ion-card-content>
    <ion-card-content>
      <ion-item lines="full">
        <ion-icon class="icon" name="calendar-outline"></ion-icon>
        <ion-label>
          {{ meeting.DateMeeting | date : "dd.MM.yyyy HH:mm" }}
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="title">
        <ion-icon class="icon" name="location-outline"></ion-icon>
        <ion-label>
          {{ meeting.Place }}
        </ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-item class="button" lines="full" button [routerLink]="['message']">
        @for(image of images; track $index){ @if($index<counter){ @if(image ==
        null){
        <ion-avatar>
          <img
            alt="img"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        } @else {
        <ion-avatar>
          <img alt="img" [src]="image" />
        </ion-avatar>
        } }@else { @if($index==counter){
        <ion-icon class="icon" name="ellipsis-horizontal-outline"></ion-icon>
        } }}
      </ion-item>
      <ion-label> {{ acceptMeeting }} / {{ meeting.Quantity }}</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <ion-card-header> {{ "Teams" | translate }} </ion-card-header>
      @if(currentDate<(meeting.DateMeeting??0) &&
      (userService.loggedUser.ID_USER==meeting.IdAuthor ||
      userService.loggedUser.IS_ADMIN)){
      <div style="padding: 5px">
        <ion-fab-button size="small" (click)="openModalAddTeam()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </div>
      }
    </div>
    <ion-card-content>
      <div class="click" [routerLink]="['team']">
        @if(teams.length>0){ @for(team of teams; track $index){
        <ion-item lines="full">
          {{ team.NAME }}
          <ion-icon
            class="icon"
            slot="end"
            name="shirt"
            [style.color]="team.COLOR"
          ></ion-icon>
        </ion-item>
        } }
      </div>
    </ion-card-content>
  </ion-card>

  @if(meeting.Description){
  <ion-card>
    <ion-card-header> {{ "Description" | translate }} </ion-card-header>
    <ion-list [inset]="true" style="border-radius: 20px">
      <ion-item>{{ meeting.Description }}</ion-item>
    </ion-list>
  </ion-card>
  } }
</ion-content>
