ion-card-header {
  font-size: x-large;
}
ion-item {
  width: 100%;
  margin-top: 5px;
}
.icon {
  padding-right: 10px;
}
ion-avatar {
  padding: 3px;
}
.click:active {
  transform: scale(0.9);
  filter: brightness(150%);
}
.click {
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.team {
  padding-bottom: 20vh;
  padding-top: 20vh;
  padding-right: 5vh;
  padding-left: 5vh;
  background: rgba(0, 0, 0, 0.7);
  --border-radius: 20px !important;
}
.modal-content {
  margin: 20px;
  margin-top: 40px;
}
.guest {
  padding-bottom: 40vh;
  padding-top: 30vh;
  padding-right: 5vh;
  padding-left: 5vh;
  background: rgba(0, 0, 0, 0.7);
  --border-radius: 20px !important;
}
.modal-content-guest {
  margin: 20px;
  margin-top: 40px;
}
