@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

$background-color-normal: var(--ion-color-primary);
$background-color-hover: var(--ion-color-secondary);

ion-tab-bar {
  background-color: $background-color-normal;

  ion-tab-button {
    --background: $background-color-normal;
    --background-focused: $background-color-hover;
    --color: #fff;
    --color-focused: #fff;
    color: #fff;

    ion-icon {
      font-size: 24px;
      color: inherit;
    }

    &::before {
      content: "";
      height: 7px;
      width: 100%;
      background-color: $background-color-hover;
      position: absolute;
      bottom: 0;
      left: 0;
      transform-origin: bottom;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::before,
    &.tab-selected::before {
      transform: scaleX(1);
    }

    &.tab-selected {
      --background: $background-color-hover;
      transform: scale(1.2);
    }

    border-radius: 30px;
    opacity: 1;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &:hover {
      --background: $background-color-hover;
      transform: scale(1.2);
    }

    &:not(:hover):not(.tab-selected) {
      opacity: 0.7;
      --background: $background-color-normal;
    }
  }
}
