<ion-content class="ion-padding">
  <app-spinner [isReady]="!isReady"></app-spinner>
  @if(isReady){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list [inset]="true">
      <ion-item lines="none">
        <ion-input
          class="border"
          [errorText]="'Login or email is required' | translate"
          [label]="'Login or email' | translate"
          labelPlacement="floating"
          formControlName="login"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="none" style="margin-bottom: 10px">
        <ion-input
          class="border"
          [errorText]="'Password is required' | translate"
          [label]="'Password' | translate"
          labelPlacement="floating"
          formControlName="password"
          type="password"
        >
        </ion-input>
      </ion-item>
      <ion-label class="click" [routerLink]="['/form/recovery']">
        <ion-note style="font-size: medium">
          {{ "Reset password" | translate }}
        </ion-note>
      </ion-label>
    </ion-list>
    <ion-button shape="round" type="submit" expand="full">
      {{ "Log in" | translate }}
    </ion-button>
  </form>
  }
</ion-content>
